h1 {
    color:#5e71e7;
}
h2{
    color:#5e71e7;
}
.header{
    display:flex;
    justify-content:space-between;
    background-color:#f197c4;;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    background-color:#f197c4;;
    flex-wrap: wrap;
}
body{
    background-color:#f197c4;;
}
.footer{
    display: flex;
    justify-content: flex-start;
    background-color:#f197c4;
}
p,h2{
    text-align: center;
}